*{
    background-color: #C4A484;
    margin-left: 2%;
}

h1{
    color: brown;
    background-color: bisque;
    font: bold;
}

h6{
    color: chocolate;
    font: icon;
}

h3{
    font-style: normal;
    font-weight: 600;
    text-align: center;
}

h4{
    font-weight: initial;
}

.row{
    display: flex;
}

.column{
    flex: 25%;
    position: relative;
    top: 50px;
}